# Maven
target/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# VS Code
.vscode
.factorypath

# OS
.DS_Store

# Vim
*.swp
*.swo

# Local environment
.env
